{% extends "layout.html" %}
{% block content %}
    <h1 class="mb-4">Ajouter un produit</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.titre_maison.label(class="form-label") }}
            {{ form.titre_maison(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.type_maison.label(class="form-label") }}
            {{ form.type_maison(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.surface.label(class="form-label") }}
            {{ form.surface(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.annee_construction.label(class="form-label") }}
            {{ form.annee_construction(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.ville.label(class="form-label") }}
            {{ form.ville(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.prix.label(class="form-label") }}
            {{ form.prix(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.image_maison.label(class="form-label") }}
            {{ form.image_maison(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.maison_agent_id.label(class="form-label") }}
            {{ form.maison_agent_id(class="form-control") }}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
{% endblock %}